.cost{
    display: block;
    position: relative;

    text-align: center;
}
.bottom1 {
    background: #29334C;
    padding: 50px;
    margin-top: -100px;
    z-index: 9999;
    position: relative;
}
.block1 .forma-1 .form-row label {
    font-size: 15px;
    font-weight: 500;
}
dt, kbd kbd, label {
    font-weight: 400;
}




@media screen and (min-device-width: 721px) {
    .with-form {
        padding: 30px 0px; }
    .with-form h3 {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin: 35px auto 30px; }
    .with-form form {
        margin: 0px auto; }
    .with-form form .form-row {
        position: relative;
        margin-bottom: 20px; }
    .with-form form .form-row:not(:last-of-type) {
        margin-bottom: 15px; }
    .with-form form .form-row:last-of-type:before {
        position: absolute;
        bottom: -28px;
        left: -78px;
        content: "";
        display: block;
        width: 157px;
        height: 56px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("../img/arrow.png"); }
    .with-form form .form-row label {
        font-size: 14px;
        font-weight: 500;
    } }
.with-form form .form-row input:not(.request-caller) {
    display: block;
    width: 100%;
    height: 44px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    text-indent: 1em; }
.with-form form .form-row .request-caller {
    width: 240px;
    border: none;
    border-radius: 30px;
    padding: 18px 30px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    background-color: #d33d29; }
.with-form form .form-row .request-caller:hover {
    cursor: pointer; }
@media screen and (max-device-width: 720px) {
    .block1 ul{
        text-align: left;
        padding: 0;
    }
    .with-form img {
        display: block;
        width: 100%;
        max-width: 360px;
        margin: 0px auto; }
    .with-form h3 {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin: 35px auto 30px; }
    .with-form form {
        margin: 0px auto; }
    .with-form form .form-row {
        position: relative;
        margin-bottom: 20px; }
    .with-form form .form-row:not(:last-of-type) {
        margin-bottom: 30px; }
    .with-form form .form-row label {
        font-size: 16px;
        font-weight: 500; }
    .with-form form .form-row input:not(.request-caller) {
        display: block;
        width: 100%;
        height: 44px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        text-indent: 1em; }
    .with-form form .form-row .request-caller {
        width: 100%;
        border: none;
        border-radius: 30px;
        padding: 18px 30px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        background-color: #d33d29; }
    .with-form form .form-row .request-caller:hover {
        cursor: pointer; } }



.with-form form .form-row .request-caller:hover {
    background-color: #d3441a;
}
.cost1 {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 70px;
}
.col-md-4.col-xs-12.forma-1.forma-2 {
    display: block;
    width: 400px;
    margin: auto;
    position: relative;
    float: none;
    background: #fff;
    padding: 25px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 20px;
}
.col-md-4.col-xs-12.forma-1.forma-2 .input {
    display: inline-table;
}
label {
    margin-bottom: 0;
}





#one{
    width: 10px !important;
}

input[type="text"], input[type="email"], input[type="tel"],input[type="button"],input[type="submit"]
{
    font-family: ProximaNovaRegular !important;
}

.formError {
    left: 130px !important;
}
.modal-dialog {
    width: 362px;
}
input#one1 {
    width: 20px;
}
.modal-dialog1 {
    width: 700px;
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, 2%);
    -ms-transform: translate(0, 2%);
    -o-transform: translate(0, 2%);
    transform: translate(0, 2%);
    margin: auto;
    text-align: center;
}
.modal-body img {
    width: 100%;
}

@media (max-width:720px) {
    .col-md-4.col-xs-12.forma-1.forma-2 {
        display: block;
        width: 320px;
        margin: auto;
        position: relative;
        float: none;
        background: #fff;
        padding: 25px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
        border-radius: 20px;
    }

    .bottom1 {
        background: #29334C;
        padding: 50px 5px;
        margin-top: 0;
        z-index: 9999;
        position: relative;
    }


}






body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: rgba(87, 91, 64, 0.67);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
}

.loader_text{
    color: white;
}
