@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(359deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(359deg); }
}
@-o-keyframes spin {
    100% { -moz-transform: rotate(359deg); }
}
@keyframes spin {
    100% { transform: rotate(359deg); }
}
.spinner-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.3);
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -28px;
    margin-left: -28px;
    width: 56px;
    height: 56px;
    border-width: 6px;
    border-radius: 100%;
    border-color: rgb(255, 69, 0) transparent transparent;
    border-style: double;
    animation: spin 1s infinite;
}
.spinner:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: "";
    margin-top: -20px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-width: 2px;
    border-radius: 100%;
    border-color: rgb(255, 69, 0) transparent transparent;
    border-style: solid;
}