/* 
    Created on : 19.08.2016, 15:37:41
    Author     : Mikhail Dumchev
*/
@media screen and (min-device-width: 721px) {
    .module {
        display: table;
    }
    .module .internal-module {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0px 30px;
    }
    .module-with-timer {
        display: inline-block;
        width: 350px;
    }
    .timer-main-part div span {
        font-size: 30px;
    }
}
@media screen and (max-device-width: 720px) {
    .module-with-timer {
        width: 90%;
        margin: 0px auto 30px;
    }
    .module .internal-module img {
        display: block;
        margin: 0px auto;
    }
    .timer-main-part div span {
        font-size: 25px;
    }
}
.timer {
    display: table;
    max-width: 350px;
    width: 100%;
    margin: 0px auto;
}
.timer-marks,
.timer-main-part {
    display: table-row;
}
.timer-main-part div {
    height: 86px;
    background-position: 50% 50%;
    background-size: 90% 90%;
    background-image: url("../img/timer-background.svg");
    background-repeat: no-repeat;
}
.timer-main-part div span {
    font-weight: 500;
    color: rgb(77, 102, 164);
}
.timer-main-part div,
.timer-marks span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 25%;
}
.timer-marks span {
    font-size: 14px;
    font-weight: 300;
    color: rgb(51, 51, 51);
}